selector {
	font-family: Arial;
}

#divOne {
	font-family: Arial;
	text-align: center;
}

.listsTop {
	text-align: center;
	background-color: rgba(142, 142, 142, 0.9);
	margin-left: 200px;
	margin-right: 200px;
	margin-top: 100px;
	border: solid;
	border-color: grey grey #C3C3C3 grey;
	border-radius: 15px 15px 0px 0px;
}

.listsBottom {
	text-align: center;
	background-color: rgba(142, 142, 142, 0.9);
	margin-left: 200px;
	margin-right: 200px;
	margin-top: -4px;
	border: solid;
	border-color: #C3C3C3 grey grey grey;
	border-radius: 0px 0px 15px 15px;
}

.listsDefault {
	text-align: center;
	background-color: rgba(142, 142, 142, 0.9);
	margin-left: 200px;
	margin-right: 200px;
	margin-top: -4px;
	border: solid;
	border-color: grey;
	border-radius: 15px;
}

.listsLogin {
	text-align: center;
	background-color: rgba(142, 142, 142, 0.5);
	margin-left: 820px;
	margin-right: 820px;
	margin-top: -4px;
	border: transparent;
	border-color: grey;
	border-radius: 15px;
}

ul {
	padding-left: 0;   
}
.lists ul li {
	list-style-position: inside
}
		
body {
	background-image: url("http://images3.alphacoders.com/246/246225.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding-top: 0px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

#divOne {
	z-index: 5;
	margin: auto;
	text-align: center;
	/*top: -50px;
	left: 500px;
	position: absolute;*/
}

#navBar {
	color: white;
	background-color: rgba(85, 85, 85, 0.75);
	background-repeat: repeat-x;
	/*top: -10px;
	left: -2px;*/
	font-family: Arial;
	padding: 0px;
	height: 75px;
	margin: auto;
	margin-top: -22px;
	margin-left: 0px;
	margin-right: 0px;
	text-align: center;
}

#navFixed {
	position: fixed;
	width: 100%;
	
	margin-top: 0%;
}

.buttons {
	margin-top: -22px;
	display: inline;
}

.textButton {
	padding: 5px 15px;
	background-color: rgba(255,255,255,0.3);
	border-radius: 8px;
	border: 3px solid #E4E4E4;
	color: white;
	text-decoration: none;
	font-size: 30px;
	outline: 0;
	
}

.textButtonSmall {
	padding: 0px 10px;
	background-color: rgba(255,255,255,0.3);
	border-radius: 8px;
	border: 2px solid #E4E4E4;
	color: white;
	text-decoration: none;
	font-size: 15px;
	outline: 0;
	
}

.textButton:hover {
	padding: 5px 15px;
	background-color: rgba(255,255,255,0.6);
	border-radius: 8px;
	border: 3px solid white;
	color: white;
	text-decoration: none;
	font-size: 30px;
	transition: 0.25s;
	outline: 0;
}

.textButtonSmall:hover {
	padding: 0px 10px;
	background-color: rgba(255,255,255,0.6);
	border-radius: 8px;
	border: 2px solid white;
	color: white;
	text-decoration: none;
	font-size: 15px;
	transition: 0.25s;
	outline: 0;
}

input-placeholder { /* WebKit, Blink, Edge */
    color:    #434343;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #434343;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #434343;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #434343;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #434343;
}

ul li {
	display: inline;
	vertical-align: top;
}

#buttonAlignment {
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 21.5px;
	margin-bottom: 21.5px;
}

#iconAlignment {
	margin-left: -15px;
	margin-right: 0px;
	margin-top: 21.5px;
	margin-bottom: 21.5px;
}

#navBar a {
	text-decoration: none;
	color: white;
}

#navBar a:hover {
	text-decoration: none;
	color: #B5B5B5;
	transition: 0.5s;
}



.animated { 
    -webkit-animation-duration: 0.5s; 
    animation-duration: 0.5s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-out; 
    animation-timing-function: ease-out; 
} 

@-webkit-keyframes fadeInDown { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(-20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
    } 
} 

@keyframes fadeInDown { 
    0% { 
        opacity: 0; 
        transform: translateY(-20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
} 

.fadeInDown { 
	animation-delay: 0.25s;
    -webkit-animation-name: fadeInDown; 
    animation-name: fadeInDown; 
}

.fadeInDownHome { 
	animation-delay: 1.5s;
    -webkit-animation-name: fadeInDown; 
    animation-name: fadeInDown; 
}

.fadeInDownChannel { 
	animation-delay: 1s;
    -webkit-animation-name: fadeInDown; 
    animation-name: fadeInDown; 
}

.fadeInDownChat { 
	animation-delay: 1s;
    -webkit-animation-name: fadeInDown; 
    animation-name: fadeInDown; 
}

.fadeInDownAbout { 
	animation-delay: 1.5s;
    -webkit-animation-name: fadeInDown; 
    animation-name: fadeInDown; 
}

