Package: com.hudsongreen.cydia.RepoIcons
Name: HKG Repo Icons
Author: Hudson Green, Folder Template by Eric Golde
Version: 1.0
Architecture: iphoneos-arm
Description: Installs repo icons to Cydia.
Homepage: http://repo.hudsongreen.com/
Maintainer: Hudson Green
Section: Tweaks
Replaces: com.hudsongreen.cydia.RepoIcons
required: Yes
Essential: Yes
