.chevron {
	background-repeat: no-repeat;
	/*background-image: url(../../assets/chevron@2x.png);*/
	background-image: url(../../assets/chevronDarkTheme@2x.png);
	background-position-x: 100%;
	background-position-y: center;
	background-size: 10px 13px;
}

.light-chevron {
	background-repeat: no-repeat;
	background-image: url(../../assets/chevron@2x.png);
	background-position-x: 100%;
	background-position-y: center;
	background-size: 10px 13px;
	height: 44px !important;
}

.info {
	background-repeat: no-repeat;
	/*background-image: url(../../assets/chevron@2x.png);*/
	background-image: url(../../assets/infoDarkTheme@2x.png);
	background-position-x: calc(100% + 0px);
	background-position-y: center;
	background-size: 23px 23px;
	overflow: visible !important;
	padding-right: 5px;
	width: calc(100% - 2px);
}

.info-btn-main {
	position: absolute;
	width: calc(100% - 35px);
	height: 47px;
	right: 35px;
}

.info-btn-right {
	position: absolute;
	width: 23px;
	height: 23px;
	right: 12px;
	margin-top: -22px;
}

li.link-inner {
	display: inline-block;
}

a.link-inner {
	display: block;
	height: 47px;
}

.link-inner > div {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.link-inner > div > label {
	/*color: #000;*/
	color: #fff;
	font-family: Arial, -apple-system-font;
}

img.icon {
	height: auto;
	/* XXX: small differences due to font bugs 
	margin: -7px 6px -9px 5px; /*June*/
	margin: 8px 6px -9px 5px; /*June*/
	max-height: 30px;
	min-width: 30px;
	width: 30px;
}

p {
	font-weight: 300;
}

.link {
	text-align: left;
	padding-top: 0px;
	padding-bottom: 0px;
	vertical-align: middle;
}

.link-no-click {
	text-align: left;
	padding-top: 0px;
	padding-bottom: 0px;
	vertical-align: middle;
}

.link-disabled {
	text-align: left;
	padding-top: 0px;
	padding-bottom: 0px;
	vertical-align: middle;
	background: #222 !important;
	/*color: rgba(255, 255, 255, 0.25) !important;*/
}

.link-disabled > a {
	opacity: 0.25;
}

/*.icon-disabled {
	opacity: 0.25;
}*/

/*.link:link, .link:hover, .link:active {
	background: #222 !important;
}*/

.link-active {
	background: #222 !important;
}

.repo-link {
	margin-top: -1px;
}

/*.repo-link > .link:link, .repo-link > .link:hover, .repo-link > .link:active {
	background: #d9d9d9 !important;
}*/

.repo-link > .link-active {
	background: #d9d9d9 !important;
}

.repo-link-dark > .link-active {
	background: #222 !important;
}

.icon-top {
	border-radius: 5px;
}

.changelog-list {
	font-family: Arial, -apple-system-font;
}

.bugs-list {
	font-family: Arial, -apple-system-font;
}

.link.is-supported, .link.is-supported:link, .link.is-supported:hover, .link.is-supported:active {
	background-color: lightgreen !important;
	margin-top: 0px;
	margin-bottom: 0px;
	border-top: 1px solid rgba(0, 55, 0, 0.25);
	border-bottom: 1px solid rgba(0, 55, 0, 0.25);
}

.link.is-unsupported, .link.is-unsupported:link, .link.is-unsupported:hover, .link.is-unsupported:active {
	background-color: #FFDDDD !important;
	margin-top: 0px;
	margin-bottom: 0px;
	border-top: 1px solid rgba(55, 0, 0, 0.25);
	border-bottom: 1px solid rgba(55, 0, 0, 0.25);
}

.link.is-unsupported > a > div > label.right {
	color: red !important;
}

/*ul.is-supported:after, ul.is-supported:before {
	background: rgba(0, 55, 0, 0.0);
}

ul.is-unsupported:after, ul.is-unsupported:before {
	background: rgba(255, 0, 0, 0.0);
}*/

.support-text {
	color: #000 !important;
}

.support-number {
	font-weight: bold;
}

.version-number {
	font-weight: bold;
}

.version-number.listed {
	font-weight: normal;
	font-size: 20px;
}

.version-number.listed.latest-ver {
	font-weight: bold;
	font-size: 25px;
}

.right {
	float: right;
	font-family: Arial, -apple-system-font;
	font-weight: normal;
	color: #8e8e9f !important;
	margin-top: 15px; /*June*/
}

.chevron-right {
	float: right;
	font-family: Arial, -apple-system-font;
	font-weight: normal;
	color: #8e8e9f !important;
	margin-top: 15px; /*June*/
	margin-right: 25px;
}

.info-right {
	float: right;
	font-family: Arial, -apple-system-font;
	font-weight: normal;
	color: #8e8e9f !important;
	margin-top: 15px; /*June*/
	margin-right: 25px;
}

ul.repo-link {
	background: white !important;
	border-top: 1px solid rgba(200, 199, 204, 0.5);
	/*border-bottom: 1px solid rgba(200, 199, 204, 0.5);*/
	border-bottom: 1px solid #c8c7cc;
	margin-bottom: -9px;
	position: relative;
}

ul.repo-link.repo-link-dark {
	background: #111 !important;
	border-bottom: 1px solid rgba(57, 59, 57, 0.5);
	border-top: 1px solid rgba(57, 59, 57, 0.5);
	color: #fff !important;
}

.light-link {
	color: #000 !important;
}

#force-touch-popup {
	display: block;
	color: white;
	font-family: Arial;
	/*font-weight: bold;*/
	position: fixed;
	/*background: #090909;
	border-radius: 10px;*/
	margin: 12.5px;
	text-align: left;
	/*width: calc(100vw - 25px);*/
	top: -50px;
	/*opacity: 0.75;*/
	min-height: 50px;
	transform: translateY(90px);
	transition: transform 0.25s;
	transition-duration: 250ms;
}

.ft-open {
	transform: scale(1);
	transition: transform 0.25s;
}

.ft-blur {
	overflow-x: hidden !important;
	height: 100vh;
}

.force-touch-link {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 50px;
	padding-top: 3px;
	/*border-radius: 10px;*/
	color: white;
	display: block;
	line-height: 100%;
	vertical-align: middle;
	background: #090909;
	opacity: 0.60;
}

.forceTouchIcon {
	height: 45px;
	font-size: 30px !important;
	margin-right: 10px;
	line-height: 50px !important;
	vertical-align: middle;
	display: inline-block;
	width: 30px;
	text-align: center;
}

i.forceTouchText {
	display: inline-block;
	vertical-align: -webkit-baseline-middle;
	font-style: normal !important;
}

.ft-top {
	/*margin-top: -3px !important;*/
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.ft-middle {
	border-top: 1px solid #222;
}

.ft-bottom {
	border-top: 1px solid #222;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.ft-selected, /*.force-touch-link:link, */.force-touch-link:active, .force-touch-link:hover {
	opacity: 1.0 !important;
}

body.ft-bg {
	background: #222;
}

#copyright {
	color: #000;
}

/*
static const int ButtonBarWidth_ = 60;
static const int ButtonBarHeight_ = 48;
*/

